footer {
  background: var(--bgColor);
  color: #fff;
  padding: 10px;

  ul {
    color: #fff;
    list-style-type: none;
  }

  a {
    color: #fff;
  }
  .copy {
    text-align: center;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer-links-item ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

.footer-links-item li {
  list-style-type: none;
}

.footer-links-item a {
  text-decoration: none;
  padding: 5px 0;
}

.footer-links-item a:hover {
  text-decoration: underline;
}

.footer-legal {
  text-align: center;
  margin: 15px 0;
}

.footer-legal a {
  text-decoration: none;
}

.footer-legal a:hover {
  text-decoration: underline;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social-list-item a {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-social-list-item a:hover {
  transform: scale(1.2);
}
