header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bgColor);
  color: #fff;
  padding: 0 20px;
  height: 78px;
}
img {
  display: block;
  height: 60px;
  width: auto;
}